@model DoorSign.Models.TemplateModelCubicle

@{
    ViewData["Title"] = "Cubicle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeadSection {
    <script src="~/js/cubicle.js" asp-append-version="true"></script>
}

<h1>Cubicle</h1>
<h2><small>Note:</small></h2>
<p>
    A cubicle sign can have up to three people displayed at once on one sheet, for a total of 15 people.<br />
    If you are displaying three people on one sign a title is not required.
    There can be up to 5 different signs on one print.
</p>
<p>
    <a class="btn btn-info" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="Displays cubicle templates">
        Display templates
    </a>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <div class="small">
            <img src="@Url.Content("~/template/previews/cubicleX1.jpg")" class="img-thumbnail" alt="Cubicle 1 person" />
            <img src="@Url.Content("~/template/previews/cubicleX2.jpg")" class="img-thumbnail" alt="Cubicle 1 person" />
            <img src="@Url.Content("~/template/previews/cubicleX3.jpg")" class="img-thumbnail" alt="Cubicle 1 person" />
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div>
        <form asp-action="SavePersonCubicle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.EmployeesCubicle[0].Department" class="control-label"></label>
                @Html.DropDownList("Department", new SelectList(Enum.GetValues(typeof(Departments))), "---")
                <span asp-validation-for="@Model.EmployeesCubicle[0].Department" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.EmployeesCubicle[0].AmtName" class="control-label"></label>
                @Html.DropDownList("AmtName", new SelectList(Enum.GetValues(typeof(PersonCubicle.CubeType))), "---")
                <span asp-validation-for="@Model.EmployeesCubicle[0].AmtName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="@Model.EmployeesCubicle[0].RoomNumber" class="form-control" placeholder="Room Number" />
                <span asp-validation-for="@Model.EmployeesCubicle[0].RoomNumber" class="text-danger"></span>

            </div>
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Employee Information</div>
                <div class="panel-body">


                    <div id="EmployeeSection">

                        <button type="button" id="AddPerson" class="btn btn-secondary">Add Person</button>
                        <button type="button" id="RemovePerson" class="btn btn-danger">Remove Person</button>

                        @for (var i = 0; i < Model.EmployeesCubicle.Count; i++)
                        {
                            <div class="row @i">
                                <div class="col">
                                    <input asp-for="@Model.EmployeesCubicle[i].FirstName" class="form-control" placeholder="First Name" />
                                    <span asp-validation-for="@Model.EmployeesCubicle[i].FirstName" class="text-danger"></span>

                                </div>
                                <div class="col">
                                    <input asp-for="@Model.EmployeesCubicle[i].LastName" class="form-control" placeholder="Last Name" />
                                    <span asp-validation-for="@Model.EmployeesCubicle[i].LastName" class="text-danger"></span>

                                </div>
                                <div class="col">
                                    <input asp-for="@Model.EmployeesCubicle[i].Title" class="form-control" placeholder="Title" />
                                    <span asp-validation-for="@Model.EmployeesCubicle[i].Title" class="text-danger"></span>
                                </div>
                                <div class="col">
                                    <input asp-for="@Model.EmployeesCubicle[i].Letter" class="form-control" placeholder="Letter" />
                                    <span asp-validation-for="@Model.EmployeesCubicle[i].Letter" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                </div>
                            </div>

                        }
                    </div>
                    <input type="hidden" id="totalEmployees" name="totalEmployees" value="@Model.EmployeesCubicle.Count" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-lg btn-block" />
            </div>
        </form>
    </div>
</div>

