@model DoorSign.Models.TemplateModelMisc

@{
    ViewData["Title"] = "Misc Blank Door Sign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeadSection {
    <script src="~/js/office.js" asp-append-version="true"></script>
}
<h1>Misc Door Sign</h1>
<a class="btn btn-custom5" data-toggle="collapse" href="#collapseInfo" role="button" aria-expanded="false" aria-controls="Displays office templates">
    Read Instructions
</a>
<div class="collapse" id="collapseInfo">
    <p>
        <ul class="list-unstyled">
            <li>Select a department from the drop-down list.</li>
            <li>Enter a heading and add any additional text in Text field (optional).</li>
            <li>Select create to create a word document.</li>
            <li>If no changes are needed, print the document and cut the door sign to fit the office door bracket.</li>
        </ul>
        <a class="btn btn-custom5" data-toggle="collapse" href="#collapseImage" role="button" aria-expanded="false" aria-controls="Displays cubicle templates">
            Display templates
        </a>
    </p>
</div>
<div class="collapse" id="collapseImage">
    <div class="card card-body" style="background-color: #414141">
        <div class="small">
            <img src="@Url.Content("~/template/previews/misc.jpg")" class="img-thumbnail" alt="Misc sign" />
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div>
        <form asp-action="SavePersonMisc">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="col">
                    @*Same implementation as office*@
                    @Html.DropDownListFor(
                    model => model.EmployeesMisc[0].Department,
                    new SelectList(
                        new List<Object>
                        {
                            new { value = 0 , text = "Center for Internal Auditing" },
                            new { value = 1 , text = "Department of Accounting" },
                            new { value = 2 , text = "Department of Economics" },
                            new { value = 3 , text = "Department of Finance" },
                            new { value = 4 , text = "Department of Marketing" },
                            new { value = 5 , text = "Department of Public Administration" },
                            new { value = 6 , text = "Economics & Policy Research Group" },
                            new { value = 7 , text = "Executive Education" },
                            new { value = 8 , text = "External Relations" },
                            new { value = 9 , text = "Flores MBA Program" },
                            new { value = 10 , text = "Information Technology Group" },
                            new { value = 11 , text = "Office of Advancement" },
                            new { value = 12 , text = "Office of Business Student Success" },
                            new { value = 13 , text = "Office of Research & Graduate Programs" },
                            new { value = 14 , text = "Office of the Dean" },
                            new { value = 15 , text = "Professional Sales Institute" },
                            new { value = 16 , text = "Real Estate Research Institute" },
                            new { value = 17 , text = "Rucks Department of Management" },
                            new { value = 18 , text = "Stephenson Department of Entrepreneurship & Information Systems" },
                            new { value = 19 , text = "Stephenson Entrepreneurship Institute" }
                        },
                        "value",
                        "text",
                        Model.EmployeesMisc[0].Department
                    )
                )
                    <span asp-validation-for="@Model.EmployeesMisc[0].Department" class="text-danger"></span>
                    <input asp-for="@Model.EmployeesMisc[0].RoomNumber" class="form-control" placeholder="Room Number" />
                    <span asp-validation-for="@Model.EmployeesMisc[0].RoomNumber" class="text-danger"></span>

                    <input asp-for="@Model.EmployeesMisc[0].Heading" class="form-control" placeholder="Heading" />
                    <span asp-validation-for="@Model.EmployeesMisc[0].Heading" class="text-danger"></span>

                    <input asp-for="@Model.EmployeesMisc[0].RText" class="form-control" placeholder="Text (optional)" />
                    <span asp-validation-for="@Model.EmployeesMisc[0].RText" class="text-danger"></span>
                </div>


            </div>
            <br />
            &nbsp;
            <div class="form-group row">
                <input type="submit" value="CREATE" class="btn btn-custom btn-lg btn-block" />
            </div>

        </form>
    </div>
</div>



